body{
	background-color: #2f2e2e;
}
.content{
	width: 700px;
	height: 300px;
	margin: 40px auto;
}
@media (min-width: 960px){
	.content .box{
	float: left;
	width: 160px;
	height: 200px;
	margin: 0 20px;
  }
}
@media (max-width: 600px){
	.content .box{
	width: 160px;
	height: 200px;
  }
}
.img{
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  transition:all 0.2s;
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;
  -o-transition:all 0.2s;
}
.img:hover{
	transform:scale(1.3) rotate(360deg);
	-webkit-transform:scale(1.3) rotate(360deg);
	-moz-transform:scale(1.3) rotate(360deg);
	-o-transform:scale(1.3) rotate(360deg);
} 
.game{
	background:url(./img/game.png)no-repeat center;
}
.loky{
	background:url(./img/loky.png)no-repeat center;
}
.location{
	background:url(./img/location.png)no-repeat center;
}
.text{
	display: block;
	width: 60px;
	height: 36px;
	font-size: 18px;
	font-weight: bold;
	color: #1afa29;
	background:url(./img/jiantou.png)no-repeat 64px center;
	line-height: 36px;
	padding-right: 38px;
	border:2px solid rgba(255,255,255,0.8);
	transition:all 0.2s;
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;
  -o-transition:all 0.2s;
  position: relative;

}
.text:hover{
	background-position: 79px center;
	border:2px solid rgba(255,255,255,1);
}
.text .line{
	display: inline-block;
  position: absolute;
  background: #fff;
  transition:all 0.2s;
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;
  -o-transition:all 0.2s;
}

/*上边线条*/
.text .line-top{
	width: 0px;
	height: 2px;
	top: -2px;
	left: -100%;
}
.text:hover .line-top{
	width: 102px;
	left: -2px;
}
/*下边线条*/
.text .line-bottom{
	width: 0px;
	height: 2px;
	bottom: -2px;
	right: -100%;
}
.text:hover .line-bottom{
	width: 102px;
	right: -2px;
}

/*左边线条*/
.text .line-left{
	width: 2px;
	height: 0;
	left: -2px;
	bottom: -100%;
}
.text:hover .line-left{
	height: 40px;
	bottom: -2px;
}

/*右边线条*/
.text .line-right{
	width: 2px;
	height: 0;
	right: -2px;
	top: -100%;
}
.text:hover .line-right{
	height: 40px;
	top: -2px;
}